.err-text {
  color: red;
}
.loading-container {
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  top: 0px;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

.Date-Picker {
  border: solid;
  border-width: 1px;
  border-color: #d8dbe0;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  color: #768192;
}
